extends layout

block content
	div.container
		div.row
			div.card.m-auto
				h3.card-header.text-warning Oops! Something Went Wrong...
				h5.card-body.text-center Please try again.
					|If the problem persists, please contact your system administrator
	div.d-none
		h1= message
		h2= error.status
		pre #{error.stack}
