extends layout

block content

  div.container
    div.row
      form.form-group(method='post', action="/front_desk")
        input(type="text" placeholder="Search with Hospital Number" name="search")
        input.btn.btn-primary(type="submit" value="search")
    hr
    br
    br
    br

    div.row
      h4.col-3
        strong Hospital Number
      h4.col-4
        strong Patient Name

    each patient in patientlist
      div.row
        h4.col-3= patient.patient_id
        h4.col-4= patient.firstname + " " + patient.lastname
        form.col-4(method="post", action="/front_desk/#{patientlist.indexOf(patient)}")
          button#delButton.btn.btn-primary(type="submit") Remove from list
        br
        br
        hr
