extends layout

block content

  div.container
    div.row
      div.col-5.mx-auto.card
        h4.card-header Patient Administration
        h6.card-body 
          ul.list-group
            li.list-group-item Register Patient
            li.list-group-item Edit/Update Patient Details
            li.list-group-item Start patient consultation process
          a.btn.btn-primary.my-2(href='/front_desk/patientadmin') Open
      div.col-5.mx-auto.card
        h4.card-header User Administration
        h6.card-body 
          ul.list-group
            li.list-group-item Register New User
            li.list-group-item Edit/Update User Details
            li.list-group-item Delete Users/User information
          a.btn.btn-primary.my-2(href='/users') Open
    br
    hr
    br

    div.row
      div.col-5.mx-auto.card.d-none
        h4.card-header Reporting
        h6.card-body 
          ul.list-group
            li.list-group-item Generate Periodc Payment Reports
            li.list-group-item Generate Patient Specific Reports
            li.list-group-item Save and Print Reports
          a.btn.btn-primary.my-2(href='/front_desk/reporting') Open
      div.col-5.mx-auto.card.d-none
        h4.card-header New Functionality Group
        h6.card-body 
          ul.list-group
            li.list-group-item Functionality
            li.list-group-item Functionality
            li.list-group-item Functionality
          a.btn.btn-primary.my-2(href='#') Open
  br

  script.
    var use = '#{user.username}'.toString()
  script(src='/javascripts/login.js')
    