extends layout

block content
	div.container
		div.row
			div.carousel.slide#carousel(data-ride='carousel')
				ol.carousel-indicators
					li.active(data-target='#carousel' data-slide-to='0')
					li(data-target='#carousel' data-slide-to='1')
					li(data-target='#carousel' data-slide-to='2')
				div.carousel-inner
					div.carousel-item.active
						img.d-block.w-100(src='/images/carousel1.jpg' alt='first slide')
						div.carousel-caption.d-none.d-md-block
							h5 End-to-End Hospital Management Solution
							p Automate your hospital processes with HeathMax Hospital Management Solution.
					
					div.carousel-item
						img.d-block.w-100(src='/images/carousel2.jpg' alt='Second Slide')
						div.carousel-caption.d-none.d-md-block
							h5 Easily CUstomizable
							p HealthMax is easily customizable to fit your specific needs and give your your preferred look and feel. Request for added functionality or remove functionalities to suit your hospital processes.

					div.carousel-item
						img.d-block.w-100(src='/images/carousel3.jpg' alt='Third Slide')
						div.carousel-caption.d-none.d-md-block
							h5 Multiple deployment options
							p HealthMax can be deployed as a web-based application or locally on your hospital computers/network depending on client preferences and requirements.

					a.carousel-control-prev(href='#carousel' role='button' data-slide='prev')
						span.carousel-control-prev-icon(aria-hidden='true')
						span.sr-only Previous
					a.carousel-control-next(href='#carousel' role='button' data-slide='next')
						span.carousel-control-next-icon(aria-hidden='true')
						span.sr-only Next
		br
