extends layout

block content
  div.container
    h1= title
    p Welcome to #{title}
    form
      button.btn.btn-primary(type="submit" formaction="/patients/registration") Register New Patient
      br
      br
      button.btn.btn-primary(type='submit' formaction="/patients") Display List of Existing Patients
    br
    br
    h5 OR Search Using Last Name or Hospital Number
    br

    div.form-group
      form(method="post", action="/")
        input.form-control-sm(type="text" name="search" id='search' placeholder="Hospital No./Last Name")
        button.btn.btn-primary(type='submit') Search
