extends layout

block content

  div.container

    div.row.offset-4

      form.form-signin(method='post' action='/users/login')
        h1.h3.mb-3.font-weight-normal
        label.sr-only(for='username') Username
        input.form-control(type='text', placeholder='username' name='username')
        br
        label.sr-only(for='inputPassword') Password
        input.form-control(type='password', placeholder='Password' name='password')
        br
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in