extends layout

block content
  div.container
    div.row
      form
        button.btn.btn-primary(type="submit" formaction="/patients/registration") Register New Patient
        br
        br
        button.btn.btn-primary(type='submit' formaction="/patients") Display List of Existing Patients
      br
      br
      hr

    div.row
      h6.col-12 
        em Search for patient using Last Name or Hospital Number
      br
      br

      div.form-group
        form(method="post", action="/")
          input.form-control-sm(type="text" name="search" id='search' placeholder="Hospital No./Last Name" required)
          button.btn.btn-primary(type='submit') Search
      br
      br
      hr

    div.form-group.d-none
      form(method='post' action='/patients/dailyhistory')
        button(type='submit') Show History

    div.row
      p= message
        ol.list-group.col-12
          each patient in patientlist
            li
              h4.col-3= patient.patient_id
              h4.col-4.offset-1= patient.firstname + " " + patient.lastname
              form.col-4.float-right(method="post", action="/front_desk/#{patientlist.indexOf(patient)}")
                button#delButton.btn.btn-primary(type="submit") Remove from list
            br
            br
            hr
     br